.form-check
  %label.form-check-label.card-task
    %input.form-check-input{:type => "checkbox", :task_id => task.id, :project_id => project.id, checked: task.complete?, :remote => true}
    = task.description