%h1 
	Listing Tasks for 
	=@user.first_name

- @user.projects.each do |project|
	= link_to project.name, project
	%table
		%thead
			%tr
				%th Description
				%th Due Date
				%th{:colspan => "3"}
			%tbody
				- project.tasks.where(owner_id: @user.id).each do |task|
					%tr
					%td= task.description
					%td= task.due_at
	%br/