.container
	%h2 #{@user.first_name}'s Tasks
	%hr/
	%p.project-key
		%span.on-track On Track
		%span.at-risk At Risk
		%span.in-trouble In Trouble
		%span.in-maintenance In Maintenance
		%span.waiting-on-client Waiting On Client
	%br/
	#flex-container.row
		/ Card
		- @projects.each do |project|
			.card.on-track.col-sm-5
				.card-header
					%h3
						%a=link_to project.name, project
				.card-block
					%p.card-text
						- project.tasks.select {|t| t.owner_id == @user.id && (t.incomplete? || (t.complete? && t.completed_at > Time.now - 2.weeks ))}.each do |task|
							= render partial: 'tasks/partial', locals: {task: task, project: project}

