/ %p#notice= notice
/ %h1 Listing Projects


/ = link_to 'New Project', new_project_path
/ %br/
/ %br/
/ - @projects.each do |project|
/   = link_to project.name, project
/   = project.aasm_state
/   %br/
/   = link_to "Create Task", new_project_task_path(project)
/   = link_to "Edit Project", edit_project_path(project)
/   %table
/     %thead
/       %tr
/         %th
/         %th Description
/         %th Owner
/         %th Due Date
/         %th{:colspan => "3"}
/       %tbody
/         - project.tasks.each do |task|
/           %tr
/           %td= button_to "Mark as #{task.other_state}", update_state_project_task_path(id: task.id, project_id: project.id), method: :put
/           %td= task.description
/           %td= link_to User.find(task.owner_id).first_name, user_path(task.owner_id)
/           %td= task.due_at
/   %br/
/   %br/
  
.container
  %h2.header-align Projects
  / Button trigger modal
  %button.btn.btn-gray.header-align-btn
    =link_to 'New Project', new_project_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#createNewModal'}
  %hr/
  / Key ----------------------------------------------------------------
  %p.project-key
    %span.on-track On Track
    %span.at-risk At Risk
    %span.in-trouble In Trouble
    %span.in-maintenance In Maintenance
    %span.waiting-on-client Waiting On Client
  %br/
  / Card Block -----------------------------------------------------------
  #flex-container.row
    - @projects.each do |project|
      .card.on-track.col-sm-5
        .card-header.card-header-inline
          %h3.card-header-inline
            %a=link_to project.name, project
          .card-header-edit
            %button.btn.btn-link.btn-link-override
              =link_to '', edit_project_path(project), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#editModal'}
              %i.fa.fa-pencil.fa-2x{"aria-hidden" => "true"}
        .card-block
          .checkbox
            %button.btn.btn-link.btn-link-override{"data-target" => "#newTaskModal", "data-toggle" => "modal", :type => "button"}
              =link_to "", new_project_task_path(project), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#newTaskModal'}
              %i.fa.fa-plus{"aria-hidden" => "true"}
              %label.card-task Create New Task
          - project.tasks.each do |task|
            .checkbox
              %input{:type => "checkbox", :value => ""}
              %label.card-task=task.description
            .checkbox 
      / card block
    / card

  / /flex-container
/ /.container
/ MODALS ----
/ modal for new project
#createNewModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Create New Project
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .form-group.row
          %label.col-2.col-form-label{:for => "example-text-input"} Name
          .col-10
            %input#example-text-input.form-control{:type => "text"}/
        .form-group.row
          %label.col-2.col-form-label{:for => "example-search-input"} Owner
          .col-10
            %input#example-search-input.form-control{:type => "search"}/
        .form-group.row
          %label.col-2.col-form-label{:for => "example-search-input"} Client
          .col-10
            %input#example-search-input.form-control{:type => "search"}/
        .form-group.row
          %label.col-2.col-form-label{:for => "example-url-input"} Status
          .btn-group
            %button.btn.btn-secondary.dropdown-toggle.btn-push-left{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
              Project Status
            .dropdown-menu.dropdown-menu-right
              %button.dropdown-item{:type => "button"} On Track
              %button.dropdown-item{:type => "button"} At Risk
              %button.dropdown-item{:type => "button"} In Trouble
              %button.dropdown-item{:type => "button"} Maintenance Mode
              %button.dropdown-item{:type => "button"} Waiting on Client
      .modal-footer
        %button.btn.btn-green{:type => "button"} CREATE
/ modal for edit project
#editModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Edit Project
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .form-group.row
          %label.col-2.col-form-label{:for => "example-text-input"} Name
          .col-10
            %input#example-text-input.form-control{:type => "text"}/
        .form-group.row
          %label.col-2.col-form-label{:for => "example-search-input"} Owner
          .col-10
            %input#example-search-input.form-control{:type => "search"}/
        .form-group.row
          %label.col-2.col-form-label{:for => "example-search-input"} Client
          .col-10
            %input#example-search-input.form-control{:type => "search"}/
        .form-group.row
          %label.col-2.col-form-label{:for => "example-url-input"} Status
          .btn-group
            %button.btn.btn-secondary.dropdown-toggle.btn-push-left{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
              Select
            .dropdown-menu.dropdown-menu-right
              %button.dropdown-item{:type => "button"} On Track
              %button.dropdown-item{:type => "button"} At Risk
              %button.dropdown-item{:type => "button"} In Trouble
              %button.dropdown-item{:type => "button"} Maintenance Mode
              %button.dropdown-item{:type => "button"} Waiting on Client
      .modal-footer
        %button.btn.btn-red{:type => "button"} DELETE PROJECT
        %button.btn.btn-green{:type => "button"} SAVE
/ modal for new task
#newTaskModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title New Task for Project Name
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .form-group.row
          %label.col-2.col-form-label{:for => "example-text-input"} Description
          .col-10
            %input#example-text-input.form-control{:type => "text"}/
        .form-group.row
          %label.col-2.col-form-label{:for => "example-date-input"} Due Date
          .col-10
            %input#example-date-input.form-control{:type => "date"}/
        .form-group.row
          %label.col-2.col-form-label{:for => "example-url-input"} Owner
          .btn-group
            %button.btn.btn-secondary.dropdown-toggle.btn-push-left{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
              Select
            .dropdown-menu.dropdown-menu-right
              %button.dropdown-item{:type => "button"} Nate
              %button.dropdown-item{:type => "button"} Matt
              %button.dropdown-item{:type => "button"} Ashley
              %button.dropdown-item{:type => "button"} Hannah
              %button.dropdown-item{:type => "button"} Will
      .modal-footer
        %button.btn.btn-green{:type => "button"} CREATE
