.container
  %h2.header-align Projects
  / Button trigger modal
  %button.btn.btn-gray.header-align-btn
    =link_to 'New Project', new_project_path, {:remote => true, 'data-toggle' =>  "modal", 'data-animation' => "false",'data-target' => '#createNewModal'}
  %hr/
  / Key ----------------------------------------------------------------
  %p.project-key
    %span.on-track On Track
    %span.at-risk At Risk
    %span.in-trouble In Trouble
    %span.in-maintenance In Maintenance
    %span.waiting-on-client Waiting On Client
  %br/
  / Card Block -----------------------------------------------------------
  #flex-container.row
    - @projects.each do |project|
      = render partial: 'projects/projects_partial', locals: {project: project}

  / /flex-container
/ /.container

#newTaskModal.modal.hide{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
#createNewModal.modal.hide{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog",:tabindex => "-1"}

