.container
	%h2.header-align=@project.name
	%button.btn.btn-gray.header-align-btn
		=link_to "CREATE TASK", new_project_task_path(@project), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#newTaskModal'} 
	%hr/
	/ Tabbed menu
	/ Nav tabs
	%ul.nav.nav-tabs{:role => "tablist"}
		%li.nav-item
			%a.nav-link.active{"data-toggle" => "tab", :href => "#tasks", :role => "tab"} Tasks
		%li.nav-item
			%a.nav-link{"data-toggle" => "tab", :href => "#members", :role => "tab"} Members
		%li.nav-item
			%a.nav-link{"data-toggle" => "tab", :href => "#details", :role => "tab"} Details
	/ Tab panes
	.tab-content
		/ Tasks panel
		#tasks.tab-pane.active{:role => "tabpanel"}
			%br/
			/ Key ----------------------------------------------------------------
			%p.task-key
				%span.overdue Overdue
				%span.on-track On Track
				%span.completed-late Completed Late
				%span.completed-on-time Completed On Time
			%table.table
				%tr
					%td.top-row{:colspan => "4"}
						%h4
							%br>/
							Incomplete
				%tr
					%th
					%th Task Description
					%th Owner
					%th Due Date
					%th
				%tbody#tasks_list
					- @project.tasks.incomplete.each do |task|
						=render partial: 'tasks/extended_partial', locals: { project: @project, task: task}
					%tr
						%td.top-row{:colspan => "4"}
							%h4
								%br>/
								Complete
					- @project.tasks.complete.each do |task|
						=render partial: 'tasks/extended_partial', locals: { project: @project, task: task}

		#members.tab-pane{:role => "tabpanel"}
			%br/
			%table.table
				%tr
					%th.top-row Name
					%th.top-row Tasks on Project
				%tbody
					- @users.each do |user|
						%tr
							%td=user.first_name
							%td=@tasks.select{|task| task[:owner_id] == user.id}.count
		#details.tab-pane{:role => "tabpanel"}
			%br/
			%table.table
				%tbody
					%tr
						%td.top-row
							%b Owner
						%td.top-row
							No one 
					%tr
						%td
							%b Client
						%td=@project.client

	/ modal for edit task
	#newTaskModal.modal{"data-animation" => "false", "aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}